:root {
  --dark-blue: #2a254b;
  --light-blue: #726e8d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

*::selection {
  background-color: var(--dark-blue);
  color: white;
}

a,
ul,
li,
button,
input {
  text-decoration: none;
  background: none;
  list-style-type: none;
  outline: none;
  border: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.footer {
  padding-top: 58px;
  background-color: var(--dark-blue);
  color: white;
}

.footer-content {
  display: flex;
}

.footer-left {
  width: 50%;
  display: flex;
}

.footer-lists {
  width: 50%;
}

.footer-list {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  padding-bottom: 12px;
  cursor: pointer;
}

.footer-right {
  display: flex;
}

.footer-form {
  display: flex;
}

.footer-input {
  color: white;
  background: #4A466B;
  padding: 17px 32px;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
}

.footer-input::placeholder {
  color: white;
}

.footer-btn {
  padding: 16px 32px;
  background: white;
  color: var(--dark-blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/*# sourceMappingURL=main.css.map */
